{% extends "base.html" %}
{% block title %}Generator{% endblock %}
{% block content %}
<div class="mx-auto" style="width: 50%; margin-top: 4%;">

    <form action="/generator/" method="post">
        {% csrf_token %}

            <!-- BASE BOX -->
            <div class="row mb-4">
                <div class="col-md-3 col-6">
                    <p class="text-muted">
                        <b>Base box</b>
                    </p>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="bento/centos7" name="base_box" class="custom-control-input" value="bento/centos7" checked>
                        <label class="custom-control-label" for="bento/centos7">bento/centos7</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="bento/debian-8.2" name="base_box" class="custom-control-input" value="bento/debian-8.2">
                        <label class="custom-control-label" for="bento/debian-8.2">bento/debian-8.2</label>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="form-group">
                        <p class="text-muted" >
                            <b>Memory</b>
                        </p>
                        <input type="text" name="memory" class="form-control" placeholder="Memory">
                    </div>
                </div>
            </div>

            <!-- Machine name -->
            <div class="row mb-4">
                <div class="col-md-3 col-6">
                    <div class="form-group">
                        <p class="text-muted" >
                            <b>Machine name</b>
                        </p>
                        <input type="text" name="machine_name" class="form-control" placeholder="Machine name" required>
                    </div>
                </div>

                <div class="col-md-4 col-12">
                    <p class="text-muted">
                        <b>Automatically check updates</b>
                    </p>
                    <div class="custom-control">
                        <input type="checkbox" id="auto_update" name="auto_update" class="custom-control-input" value="True">
                        <label class="custom-control-label ml-2" for="auto_update">Auto update box</label>
                    </div>
                </div>
            </div>

            <!-- Network -->
            <h4 class="mb-2">Network</h4>
            <hr>
            <div class="row mb-5">
                <div class="col-md-3 col-6">
                    <div class="form-group">
                        <p class="text-muted" >
                            <b>Guest port</b>
                        </p>
                        <input type="text" name="guest_port" class="form-control" placeholder="Guest port" required>
                    </div>
                </div>
    
                <div class="col-md-3 col-6">
                    <div class="form-group">
                        <p class="text-muted" >
                            <b>Host port</b>
                        </p>
                        <input type="text" name="host_port" class="form-control" placeholder="Host port" required>
                    </div>
                </div>

                <div class="col-md-3 col-6">
                    <div class="form-group">
                        <p class="text-muted" >
                            <b>MAC address</b>
                        </p>
                        <input type="text" name="mac_address" class="form-control mb-2" placeholder="MAC address">
                    </div>
                </div>
            </div>


            <!-- Synced folder -->
            <h4 class="mb-2" >Synced Folder</h4>
            <hr>
            <div class="row mb-5">
                <div class="col-md-3 col-6">
                    <div class="form-group">
                        <p class="text-muted" >
                            <b>Source folder</b>
                        </p>
                        <input type="text" name="source_folder" class="form-control" value="./" required>
                    </div>
                </div>
        
                <div class="col-md-3 col-6">
                    <div class="form-group">
                        <p class="text-muted" >
                            <b>Target folder</b>
                        </p>
                        <input type="text" name="target_folder" class="form-control" value="/var/www" required>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row m-4">
            <div class="col-md-3 col-12">
                <button class="btn btn-info" type="submit">Generate</button>
            </div>
        </div>

    </form>
</div>
{% endblock %}
