{% extends "base.html" %}
{% block title %}Generator{% endblock %}
{% block content %}
    <main class="page landing-page">
        <section class="clean-block features">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Features</h2>
                    <p>Vagup allow you to get your custom VagrantFile without coding.</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 feature-box"><i class="icon-star icon"></i>
                        <h4>Vagrant 2.0</h4>
                        <p>Use se last version of vagrant.</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-pencil icon"></i>
                        <h4>Customizable</h4>
                        <p>Get your perfect development environment as fast as possible. PHP / Python / Nginx. We keep working to add more options everymonth.</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-screen-smartphone icon"></i>
                        <h4>Responsive</h4>
                        <p>This website is 100% responsive, thanks to Bootstrap 4 !</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-refresh icon"></i>
                        <h4>100% free</h4>
                        <p>You can generate unlimited VagrantFile.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}